<div class="main-container">

  {{!-- Can't get header partial to work --}}
  <div class="header">
    <ul class="navigation">
      <li>
        <div class="logo">
          <img src="assets/images/logo.jpg" width="100" height="30" />
        </div>
      </li>
      <li>
        <div {{bind-attr class=":header-tab overviewTabIsSelected:active"}}
          {{action 'selectOverviewTab'}}>Overview</div>
      </li>
      <li>
        <div {{bind-attr class=":header-tab spendingTabIsSelected:active"}}
          {{action 'selectSpendingTab'}}>Spending</div>
      </li>
      <li>
        <div {{bind-attr class=":header-tab assetsTabIsSelected:active"}}
          {{action 'selectAssetsTab'}}>Assets</div>
      </li>
      <li>
        <div {{bind-attr class=":header-tab settingsTabIsSelected:active"}}
          {{action 'selectSettingsTab'}}>Settings</div>
      </li>
    </ul>
  </div>

  <div class="content">
    <div {{bind-attr class=":tab-content overviewTabIsSelected::hide"}}>
      {{render "overview"}}
    </div>
    <div {{bind-attr class=":tab-content spendingTabIsSelected::hide"}}>
      {{render "spending"}}
    </div>
    <div {{bind-attr class=":tab-content assetsTabIsSelected::hide"}}>
      {{render "assets"}}
    </div>
    <div {{bind-attr class=":tab-content settingsTabIsSelected::hide"}}>
      {{render "settings"}}
    </div>
  </div>

  <div class="footer">
    <p>Made by Alex Zirbel for <a href="http://www.addepar.com">Addepar's</a> March 2014 Hackathon.</p>
  </div>

</div>
