
<div class="content">

  {{!-- Can't get header partial to work --}}
  <div class="header">
    <ul class="navigation">
      <li>
        <div class="logo">
          <img src="assets/images/logo.png" />
        </div>
      </li>
      <li>
        <div {{bindAttr class=":header-tab overviewTabIsSelected:active"}}
          {{action 'selectOverviewTab'}}>Overview</div>
      </li>
      <li>
        <div {{bindAttr class=":header-tab spendingTabIsSelected:active"}}
          {{action 'selectSpendingTab'}}>Spending</div>
      </li>
      <li>
        <div {{bindAttr class=":header-tab assetsTabIsSelected:active"}}
          {{action 'selectAssetsTab'}}>Assets</div>
      </li>
      <li>
        <div {{bindAttr class=":header-tab settingsTabIsSelected:active"}}
          {{action 'selectSettingsTab'}}>Settings</div>
      </li>
    </ul>
  </div>

  <div class="tab-content-container">
    <div {{bindAttr class=":tab-content overviewTabIsSelected::hide"}}>
      {{render overview}}
    </div>
    <div {{bindAttr class=":tab-content spendingTabIsSelected::hide"}}>
      {{render spending}}
    </div>
    <div {{bindAttr class=":tab-content assetsTabIsSelected::hide"}}>
      {{render assets}}
    </div>
    <div {{bindAttr class=":tab-content settingsTabIsSelected::hide"}}>
      {{render settings}}
    </div>
  </div>
</div>
